<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

    <title>Document</title>
</head>

<body>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
            <li v-for="( todo, index ) in todos">
                {{index}}:{{ todo.text }}
            </li>

            <li v-for="(todo , key , index) in todos">
                {{index}}:{{key}}:{{ todo.text }}
            </li>


        </ol>
    </div>
    <script>
        var app = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            }
        })
    </script>
</body>

</html>